@media screen and (min-width: 768px) {
  main {
    background: #e5e5e5;
  }

  body {
    width: 9px;
    margin: 0;
    background: #e5e5e5;
  }

  .AppBar-Compact-Dark-iOS {
    position: fixed;
    width: 150%;
    height: 72px;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;
  }

  .header-background-mobile {
    position: absolute;
    width: 1349px;
    height: 916px;
    left: 0;
    border-radius: 0 0 0 150px;
    background: #fff;
    background-repeat: none;
  }

  .header-shape {
    position: absolute;
    width: 1256px;
    height: 721.46px;
    left: 34.6px;
    top: 119px;
    background-image: url(./Scr/images/Header\ bg.png);
    background-size: 1270px;
    background-repeat: none;
  }

  .Logo-Placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 100px;
    top: calc(50% - 30px / 2);
  }

  .MyLogo {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .navItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
    justify-content: center;
  }

  .navfont {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 10px 12px;
    gap: 10px;
    color: #344563;
    text-decoration: none;
  }

  ul li {
    list-style-type: none;
  }

  .nav_portfolio {
    width: 63px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
    list-style-type: none;
  }

  .nav_about {
    width: 50px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
  }

  .nav_contact {
    width: 63px;
    height: 20px;
    flex: none;
    order: 2;
    justify-content: center;
    flex-grow: 0;
  }

  .Headlines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 820px;
    height: 269px;
    left: 237px;
    top: calc(15% - 998px / 2);
  }

  .pry-Txt-Headlin {
    width: 700px;
    height: 122px;
    top: 50px;
  }

  .social-media-icons {
    width: 170.17px;
    height: 20px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .fa-twitter {
    position: absolute;
    left: 0;
    right: 88.27%;
    top: 129.2%;
    bottom: 18.88%;
    color: #505f79;
    width: 0;
  }

  .fa-linkedin {
    position: absolute;
    height: 20px;
    left: 40px;
    top: 129.2%;
    color: #505f79;
    width: 0;
  }

  .fa-github {
    position: absolute;
    left: 9.13%;
    right: 57.07%;
    top: 129.2%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .fa-medium {
    position: absolute;
    left: 14.21%;
    right: 67.2%;
    top: 125.2%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .fa-angellist {
    position: absolute;
    left: 19%;
    right: 48.22%;
    top: 129.2%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .client_txt_bl {
    position: absolute;
    width: 378px;
    height: 82px;
    left: 514px;
    top: 0;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 142px;
    position: absolute;
    width: 1040.9px;
    height: 2694px;
    left: 0;
    top: 917px;
  }

  .cardWork {
    width: 1156px;
    height: 490px;
  }

  #snapshot_avocado {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 105px;
    top: 165px;
  }

  .left_avocado_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 672px;
    top: 165px;
  }

  .primary_avocado_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .avocado_title {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_avocado {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .normal_enable_avocado {
    position: absolute;
    width: 124px;
    height: 48px;
    left: 25px;
    top: 276px;
  }

  #snapshot_professional {
    position: absolute;
    width: 544px;
    height: 455px;
    left: 670px;
    top: calc(40% - 799px / 2);
  }

  .left_block_professional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 105px;
    top: 795px;
  }

  .primary_text_professional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_professional {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame_professional {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_professional {
    width: 499px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Normal_enable_professional {
    position: absolute;
    width: 124px;
    height: 48px;
    left: 25px;
    top: 295px;
  }

  #snapshot_available {
    position: absolute;
    width: 544px;
    height: 448px;
    right: 675px;
    top: 47.74%;
  }

  .left_block_available {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 672px;
    top: calc(50% - 125px / 2);
  }

  .primary_text_available {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_available {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .client_txt_available {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
  }

  .frame_available {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 320px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #snapshot_nature {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 670px;
    top: 69.2%;
  }

  #action {
    width: 395px;
    height: 72px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .left_block_nature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 105px;
    top: calc(70% - 50px / 2);
  }

  .primary_text_nature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_nature {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame_nature {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_nature {
    width: 499px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Normal_enable_nature {
    left: 25px;
    top: calc(70.2% - 50px / 2);
    border: 1px solid #6070ff;
    border-radius: 8px;
    background: #fff;
  }

  .Normal_enable_nature:hover {
    background: #6070ff;
    color: #fff;
  }

  .Normal_enable_nature:active {
    background: #6070ff;
    color: #fff;
  }

  .contact-background {
    position: absolute;
    width: 1300px;
    height: 846px;
    left: 0;
    top: 4460px;
  }

  .cont_frm_shapes-mob {
    position: absolute;
    width: 1195.6px;
    height: 718.7px;
    left: 75.34px;
    top: 60.09px;
    background-image: url(./Scr/images/contact_form_shapes-web.png);
    background-size: 1200px;
    background-repeat: none;
  }

  .contact-left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 801px;
    height: 577px;
    left: 250px;
    top: 124px;
  }

  .contact-head-me {
    width: 801px;
    height: 56px;
    top: 1px;
  }

  .contact-text-body {
    width: 569px;
    height: 102px;
    color: #ebebff;
    top: 80px;
    left: 105px;
    justify-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 27px;
    left: 180px;
    width: 447px;
    height: 390px;
    flex: none;
    order: 2;
    flex-grow: 0;
    top: 200px;
  }

  #name-text-area {
    width: 447px;
    height: 170px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #text-area {
    width: 425px;
    height: 170px;
    top: 150px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  #mail-text-input {
    width: 447px;
    height: 170px;
    top: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .base-about-my-self {
    position: absolute;
    width: 1325.9px;
    height: 704px;
    left: 0;
    top: 3795px;
    bottom: 50px;
    border-radius: 0 90px 0 0;
    background: #fff;
  }

  .abt-my-dt {
    position: absolute;
    width: 550px;
    height: 292px;
    left: 7px;
    top: 100px;
  }

  .top-bg {
    position: absolute;
    width: 447px;
    height: 392px;
    left: 122px;
    top: 7px;
  }

  .pry-abt-gp {
    width: 447px;
    height: 102px;
    left: 80px;
  }

  .social-media-icon_tl li {
    margin: 0;
    height: 25px;
    width: 200px;
  }

  .gitHub {
    position: absolute;
    left: 2.08%;
    right: 0%;
    top: 70.99%;
    bottom: 350%;
    width: 0;
  }

  .angellist {
    position: absolute;
    left: 19.93%;
    right: 8.33%;
    top: 64.95%;
    bottom: 8.33%;
    width: 0;
  }

  .twitter {
    position: absolute;
    left: 37.33%;
    right: 8.33%;
    top: 64.95%;
    bottom: 9.93%;
    width: 0;
  }

  .medium {
    position: absolute;
    left: 27.99%;
    right: 8.33%;
    top: 67.95%;
    bottom: 90%;
    width: 0;
  }

  .linkedin {
    position: absolute;
    left: 2.33%;
    right: 8.33%;
    top: 64.95%;
    bottom: 8.33%;
    width: 0;
  }

  .Skill-List {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 684px;
    height: 360px;
    left: 609px;
    top: 0;
  }

  .Frame-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 684px;
    height: 216px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #Frame-sent {
    width: 684px;
    height: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .langTab {
    position: absolute;
    height: 4px;
    left: 24px;
    right: 78px;
    top: calc(60% - 350px / 2);
  }

  .fa-angle-down {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 45.5%;
    bottom: 37.5%;
  }

  .lg-bd-tb {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .Normal-bttn-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 55px;
    top: calc(11% - 50px / 2);
    border-radius: 8px;
  }

  .down {
    left: 15px;
  }

  .Language-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 12px;
    gap: 12px;
    width: 419px;
    height: 119.9px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #Frame-java {
    width: 122px;
    height: 120px;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .java-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(10.5% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .Java-txt {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 40px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  #Frame-html {
    width: 122px;
    height: 120px;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .html-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(30.4% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .hr-frm-tl {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(100% - 20px / 2);
  }

  .html-text {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 175px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  #Frame-css {
    width: 122px;
    height: 122px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .css-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(49.6% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .css-txt {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 309.9px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .hr-frm-sl {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(83% - 50px / 2);
  }

  #Frame-framework {
    width: 684px;
    height: 72px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .FrameTab {
    position: absolute;
    height: 24px;
    left: 24px;
    right: 78px;
    top: calc(70% - 24px / 2);
  }

  .fa-angle-right {
    position: absolute;
    left: 17%;
    right: 25%;
    top: 49.5%;
    bottom: 37.5%;
  }

  #Frame_skills {
    width: 684px;
    height: 72px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .skillsTab {
    position: absolute;
    height: 24px;
    left: 24px;
    right: 78px;
    top: calc(90% - 24px / 2);
  }

  .fa-right {
    position: absolute;
    left: 12%;
    right: 20%;
    top: 450.5%;
    bottom: 37.5%;
  }
}

@media screen and (min-width: 1068px) {

  main {
    height: 5125px;
  }

  .main {
    background: #e5e5e5;
    width: 1349px;
  }

  body {
    background: #f7f7f9;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    
  }

  .header-bacground-mobile {
    position: absolute;
    width: 1349px;
    height: 916px;
    left: 0;
    top: 1px;
    border-radius: 0 0 0 90px;
    background-size: 1250px;
    background-repeat: none;
    background: #fff;
  }

  .header-shpe {
    position: absolute;
    width: 1296px;
    height: 721.46px;
    left: 34.6px;
    top: 119px;
    background: #000;
    background-size: 1285px;
    background-repeat: none;
  }

  .AppBar-Compact-Dark-iOS {
    position: fixed;
    width: 1349px;
    height: 72px;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;
  }

  #Toolbar-Dark-Compact {
    display: none;
  }

  .Logo-Placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 150px;
    top: calc(50% - 30px / 2);
  }

  .MyLogo {
    width: 76px;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .navItem {
    position: absolute;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
  }

  .Hedlines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 850px;
    height: 268px;
    left: 235px;
    top: calc(15% - 998px / 2);
  }

  .pry-Txt-Body {
    width: 62vw;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18.5px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .connect {
    width: 128px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .social-media-icons {
    width: 170.17px;
    height: 20px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .fa-twitter {
    position: absolute;
    left: 0;
    right: 88.27%;
    top: 120.2%;
    bottom: 18.88%;
    color: #505f79;
    width: 0;
  }

  .fa-linkedin {
    position: absolute;
    height: 20px;
    left: 40px;
    top: 120.2%;
    color: #505f79;
    width: 0;
  }

  .fa-github {
    position: absolute;
    left: 9.13%;
    right: 57.07%;
    top: 120.2%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .fa-medium {
    position: absolute;
    left: 14.21%;
    right: 67.2%;
    top: 115.9%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .fa-angellist {
    position: absolute;
    left: 19%;
    right: 48.22%;
    top: 120.2%;
    bottom: 18.87%;
    color: #505f79;
    width: 0;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 142px;
    gap: 142px;
    position: absolute;
    width: 1065px;
    height: 2694px;
    left: 0;
    top: 917px;
  }

  .cardWork {
    width: 1156px;
    height: 490px;
  }

  #snapshot_avocado {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 118px;
    top: 165px;
  }

  .left_avocado_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 683px;
    top: 165px;
  }

  .primary_avocado_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .avocado_title {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_avocado {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .normal_enable_avocado {
    position: absolute;
    width: 124px;
    height: 48px;
    left: 25px;
    top: 289px;
  }

  .tag_list {
    width: 203px;
    height: 24px;
    left: 0;
    top: 170px;
  }

  #snapshot_professional {
    position: absolute;
    width: 544px;
    height: 455px;
    left: 689px;
    top: calc(40% - 799px / 2);
  }

  .left_block_professional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 118px;
    top: 795px;
  }

  .primary_text_professional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_professional {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame_professional {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_professional {
    width: 499px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Normal_enable_professional {
    position: absolute;
    width: 124px;
    height: 48px;
    left: 25px;
    top: 285px;
  }

  #snapshot_available {
    position: absolute;
    width: 544px;
    height: 450px;
    left: 118px;
    top: 48%;
  }

  .left_block_available {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 683px;
    top: calc(50% - 125px / 2);
  }

  .primary_text_available {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_available {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame_available {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_available {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
  }

  #snapshot_nature {
    position: absolute;
    width: 544px;
    height: 448px;
    left: 686px;
    top: 69.15%;
  }

  .left_block_nature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 501px;
    height: 401px;
    left: 118px;
    top: calc(70% - 50px / 2);
  }

  .primary_text_nature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title_nature {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame_nature {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 297px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .client_txt_nature {
    width: 499px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #action {
    width: 395px;
    height: 72px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .Normal_enable_nature {
    left: 25px;
    top: calc(70.7% - 50px / 2);
    border: 1px solid #6070ff;
    border-radius: 8px;
    background: #fff;
  }

  .Normal_enable_nature:hover {
    background: #6070ff;
    color: #fff;
  }

  .Normal_enable_nature:active {
    background: #6070ff;
    color: #fff;
  }

  .base-about-my-self {
    position: absolute;
    width: 1349px;
    height: 924px;
    left: 0;
    top: 3599px;
    bottom: 200px;
    border-radius: 0 90px 0 0;
    background: #fff;
  }

  .abt-my-dt {
    position: absolute;
    width: 520px;
    height: 252px;
    left: 7px;
    top: 100px;
  }

  .top-bg {
    position: absolute;
    width: 447px;
    height: 392px;
    left: 122px;
    top: 7px;
  }

  .pry-abt-ho {
    width: 447px;
    height: 114px;
  }

  .pry-abt-gp {
    width: 447px;
    height: 102px;
    left: 80px;
  }

  .social-media-icon_tl {
    margin: 0;
    height: 25px;
    width: 200px;
  }

  .gitHub {
    position: absolute;
    left: 2.08%;
    right: 0%;
    top: 76.99%;
    bottom: 350%;
  }

  .angellist {
    position: absolute;
    left: 10.93%;
    right: 8.33%;
    top: 70.95%;
    bottom: 8.33%;
    width: 0;
  }

  .twitter {
    position: absolute;
    left: 37.33%;
    right: 8.33%;
    top: 70.95%;
    bottom: 9.93%;
    width: 0;
  }

  .medium {
    position: absolute;
    left: 27.99%;
    right: 8.33%;
    top: 73.95%;
    bottom: 90.93%;
    width: 0;
  }

  .linkedin {
    position: absolute;
    left: 9.95%;
    right: 8.33%;
    top: 70.95%;
    bottom: 8.33%;
    width: 0;
  }

  .Skill-List {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 684px;
    height: 360px;
    left: 609px;
    top: 0;
  }

  .Frame-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 684px;
    height: 216px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #Frame-sent {
    width: 684px;
    height: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .langTab {
    position: absolute;
    height: 4px;
    left: 24px;
    right: 78px;
    top: calc(60% - 350px / 2);
  }

  .lg-bd-tb {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .Normal-bttn-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 55px;
    top: calc(11% - 50px / 2);
    border-radius: 8px;
  }

  .down {
    left: 15px;
  }

  .Language-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 12px;
    gap: 12px;
    width: 419px;
    height: 119.9px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #Frame-java {
    width: 122px;
    height: 120px;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .java-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(10.5% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .Java-txt {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 40px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  #Frame-html {
    width: 122px;
    height: 120px;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .html-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(30.4% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .hr-frm-tl {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(100% - 20px / 2);
  }

  .html-text {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 175px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  #Frame-css {
    width: 122px;
    height: 122px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .css-img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(49.6% - 48px / 2 - 25px);
    top: 95.99px;
  }

  .css-txt {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 309.9px;
    top: 165.9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .hr-frm-sl {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(83% - 50px / 2);
  }

  #Frame-framework {
    width: 684px;
    height: 72px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .FrameTab {
    position: absolute;
    height: 24px;
    left: 24px;
    right: 78px;
    top: calc(70% - 24px / 2);
  }

  #Frame_skills {
    width: 684px;
    height: 72px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .skillsTab {
    position: absolute;
    height: 24px;
    left: 24px;
    right: 78px;
    top: calc(90% - 24px / 2);
  }

  .contact-background {
    position: absolute;
    width: 1349px;
    height: 846px;
    left: 0;
    top: 4295px;
  }

  .cont_frm_shapes-mob {
    position: absolute;
    width: 1195.6px;
    height: 718.7px;
    left: 75.34px;
    top: 60.09px;
    background-image: url(./Scr/images/contact_form_shapes-web.png);
    background-size: 1200px;
    background-repeat: none;
  }

  .contact-left-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
    position: absolute;
    width: 801px;
    height: 577px;
    left: 250px;
    top: 124px;
  }

  .contact-head-me {
    width: 801px;
    height: 56px;
    top: 1px;
  }

  .contact-text-body {
    width: 569px;
    height: 102px;
    color: #ebebff;
    top: 80px;
    left: 105px;
    justify-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 27px;
    left: 180px;
    width: 447px;
    height: 390px;
    flex: none;
    order: 2;
    flex-grow: 0;
    top: 200px;
  }

  #name-text-area {
    width: 447px;
    height: 170px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #text-area {
    width: 425px;
    height: 170px;
    top: 150px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  #mail-text-input {
    width: 447px;
    height: 170px;
    top: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}
