main {
  position: relative;
  width: 375px;
  height: 5315px;
  background: #f7f7f9;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

#AppBar-Compact-Dark-iOS {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

.Headlines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.pry-Txt-Headlin {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pry-Txt-Body {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 121px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Supportng-Text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 121px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.connect {
  width: 128px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

.fa-twitter {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 57.2%;
  bottom: 18.88%;
  color: #505f79;
}

.fa-linkedin {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 63px;
  top: 475.9px;
  color: #505f79;
}

.fa-github {
  position: absolute;
  left: 32.13%;
  right: 57.07%;
  top: 57.2%;
  bottom: 18.87%;
  color: #505f79;
}

.fa-medium {
  position: absolute;
  left: 23.47%;
  right: 67.2%;
  top: 55.78%;
  bottom: 18.87%;
  color: #505f79;
}

.fa-angellist {
  position: absolute;
  left: 41%;
  right: 48.22%;
  top: 57.2%;
  bottom: 18.87%;
  color: #505f79;
}

.header-background-mobile {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 0 0 0 70px;
}

.header-shape {
  position: absolute;
  width: 375px;
  height: 587.15px;
  left: 0;
  top: 104px;
  background: url(./Scr/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
}

#Toolbar-Dark-Compact {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

.Normal-Buttn-Tert-Enabled {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  justify-items: center;
}

#NavIcon-Menu {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #fff;
  border: none;
}

button {
  color: none;
  background-color: none;
}

.fa-bars {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 11.52px;
  top: 20.5px;
  color: #6070ff;
}

.Logo-Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 12px;
  position: absolute;
  width: 110px;
  height: 20px;
  left: 12px;
  top: calc(50% - 4px / 2);
  justify-content: center;
  align-content: center;
}

.MyLogo {
  width: 85px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.work {
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: 20% 28% 20% 28%;
  align-items: center;
  padding: 114px 24px;
  gap: 8px;
  position: absolute;
  width: 325px;
  height: 2788px;
  left: 5;
  top: 718px;
}

.cardWork {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.sec {
  width: 327px;
  height: 552px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#snapshot {
  width: 295px;
  height: 220px;
  background-repeat: no-repeat;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: transform 2s;
}

#snapshot:hover {
  transform: scale(0.9);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: rgb(167, 55, 55);
}

.block_bl {
  width: 295px;
  height: 288px;
  
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  background: rgb(218, 188, 188);
}

.text {
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.title {
  width: 295px;
  height: 36px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 240px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
}

.client_tag_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 68px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.client_canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  flex: none;
  order: 1;
  border-radius: 50%;
  flex-grow: 0;
}

.client_role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.client_tag_role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 19px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.client_role_text {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.client_role_tw {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 32px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.counter_tw {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  flex: none;
  order: 3;
  border-radius: 50%;
  flex-grow: 0;
}

.client_tag_year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 29px;
  height: 19px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.client_yr_text {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.client_txt_bl {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: rgb(202, 160, 160);
}

.tag_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 12px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0;
  background: #000;
}

.html_tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  width: 40px;
  height: 16px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.html_txt {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.css_tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  width: 35px;
  height: 16px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.css_txt {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}

.java_tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  width: 75px;
  height: 16px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.java_txt {
  width: 65px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#action {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.left .btn_text {
  width: 127px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.normal_enable_bttn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 127px;
  height: 48px;
  left: 40px;
  top: calc(20.3% - 30px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

.normal_enable_bttn:hover {
  background: #6070FF;
  color: #fff;
}

.normal_enable_bttn:active {
  background: #2230D2;
  color: #fff;
}

.normal_enable_btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 40px;
  top: calc(43.8% - 50px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  justify-content: center;
  background: #fff;
}

.normal_enable_btn:hover {
  background: #6070FF;
  color: #fff;
}

.normal_enable_btn:active {
  background: #2230D2;
  color: #fff;
}

.br {
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#snapshot_sec {
  width: 295px;
  height: 220px;
  background: url();
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: transform 2s;
}

#snapshot_sec:hover {
  transform: scale(0.9);
}

.block_sec {
  width: 295px;
  height: 322px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text_sec {
  width: 295px;
  height: 124px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_sec {
  width: 295px;
  height: 80px;
}

.normal_enb_btn{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 40px;
  top: calc(65.2% - 30px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
}

.normal_enb_btn:hover {
  background: #6070FF;
  color: #fff;
}

.normal_enb_btn:active {
  background: #2230D2;
  color: #fff;
}

.th {
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#snapshot_th {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: transform 2s;
}

#snapshot_th:hover {
  transform: scale(0.9);
}

.block_th {
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text_th {
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_th {
  width: 295px;
  height: 36px;
}

.fr {
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

#snapshot_fr {
  width: 295px;
  height: 220px;
  background-repeat: no-repeat;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: transform 2s;
}

#snapshot_fr:hover {
  transform: scale(0.9);
}

.block_fr {
  width: 295px;
  height: 322px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text_fr {
  width: 295px;
  height: 124px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_fr {
  width: 295px;
  height: 80px;
}

.Normal_en_bttn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  justify-content: center;
  left: 40px;
  top: calc(88.7% - 50px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
}

.Normal_en_bttn :hover {
  background: #6070FF;
  color: #fff;
}

.Normal_en_bttn :active {
  background: #2230D2;
  color: #fff;
}
